%table.table.table-striped
  %tbody
    - movies.each_with_index do |movie, i|
      %tr
        %td= i + 1
        %td
          %img.img-rounded.movie-cover{ src: movie.cover }
        %td
          %h4
            = link_to movie.title, movie_path(movie)
            %small.pull-right
              Rating:
              = movie.rating
          %p
            %strong
              = link_to movie.genre.name, movies_genre_path(movie.genre)
            = " (#{movie.released_at.year})"
          %p= movie.description
